* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #ffe600;
  padding: 42px 30px 50px 30px;
  text-align: center;
}

.header .header-contaner {
  margin: 0.5rem auto;
  width: 100%;
  max-width: 800px;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1rem;
}

.header .prompt {
  display: block;
  margin: 0.5rem auto;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  max-width: 630px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.header .tabs {
  display: flex;
  position: absolute;
  background: transparent;
  margin: 8px 0 0 0;
  gap: 0;
  border-radius: 0.75rem 0.75rem 0 0;
  overflow: hidden;
}

.header .tab {
  background-color: #ffe600;
  border: none;
  padding: 0.73rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  transition: all 0.2s ease-in-out;
}

.header .tab.active {
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.header .tab:not(.active):hover {
  background-color: #ffec80;
}

.body-wrapper {
  display: flex;
  min-height: 65vh;
  margin: 0 auto;
  padding: 0 30px;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.body-wrapper .filter-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.body-wrapper .search {
  display: block;
  margin: 40px auto 0 0;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 630px;
  font-size: 1rem;
}

.body-wrapper .filters {
  display: flex;
  justify-content: space-between;
  max-width: 665px;
  margin-top: 0;
  margin: 20px auto 10px 0;
}

.body-wrapper .filters .sorting {
  display: flex;
  gap: 0.3rem;
  margin-right: 10px;
}

.body-wrapper .filters .sorting-button {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.body-wrapper .filters .reset-button {
  color: #fff;
  background: red;
  border: 1px solid;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.9rem;
}

/* Media Queries */
@media (max-width: 450px) {
  .filters {
    display: grid;
  }

  .sorting-button {
    margin-top: 15px;
  }
}

@media (min-width: 840px) {
  .tabs {
    margin: 8px 0 0 85px !important;
  }
}